{% extends "products/base.html" %}
{% block title %} Products {% endblock %}
{% block content %}
<h3>List of products</h3>
<a href="{% url 'products:create' %}">Tạo mới</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Info</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.info}}</td>
            <td>{{product.created_at}}</td>
            <td>{{product.updated_at}}</td>
            <td>
                <a href="{% url 'products:show' product.id %}">Show</a>
                <a href="{% url 'products:update' product.id %}">Edit</a>
                <a href="{% url 'products:destroy' product.id %}">Destroy</a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}
